---
{% for cluster in kubernetes.cluster %}
{% if cluster.install_network and cluster.network.type == "calico" %}

- name: Init Kubernetes cluster {{ cluster.name }}-{{ cluster.master[0].name }}
  shell: |
    kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml
  when: ansible_hostname == '{{ cluster.name }}-{{ cluster.master[0].name }}'

{% endif %}
{% endfor %}
