- name: create script directory
  file:
    path: ~/.kube/
    state: directory

- name: change configuration
  shell: |
    {% for cluster in kubernetes.cluster %}
    sed -i "s/name: kubernetes/name: kubernetes-{{ cluster.name }}/g" ~/{{ vm_name }}-{{ cluster.name }}
    sed -i "s/cluster: kubernetes/cluster: kubernetes-{{ cluster.name }}/g" ~/{{ vm_name }}-{{ cluster.name }}
    sed -i "s/user: kubernetes-admin/user: kubernetes-admin-{{ cluster.name }}/g" ~/{{ vm_name }}-{{ cluster.name }}
    sed -i "s/name: kubernetes-{{ cluster.name }}-admin@kubernetes/name: {{ cluster.name }}/g" ~/{{ vm_name }}-{{ cluster.name }}
    sed -i "s/name: kubernetes-{{ cluster.name }}-admin/name: kubernetes-admin-{{ cluster.name }}/g" ~/{{ vm_name }}-{{ cluster.name }}
    sed -i '/current-context: kubernetes-admin@kubernetes/d' ~/{{ vm_name }}-{{ cluster.name }}
    {% endfor %}

- name: change configuration
  shell: KUBECONFIG={% for cluster in kubernetes.cluster %}~/{{ vm_name }}-{{ cluster.name }}{% if not loop.last %}:{% endif %}{% endfor %} kubectl config view --flatten >> ~/.kube/config

  