{% for cluster in kubernetes.cluster %}

{% for master in cluster.master %}
virt-clone -o {{ template_vm }} -n {{ vm_name }}-{{ cluster.name }}-{{ master.name }} -f /data/vms/{{ vm_name }}-{{ cluster.name }}-{{ master.name }}.qcow2
virsh start {{ vm_name }}-{{ cluster.name }}-{{ master.name }}

sleep 60

ssh {{ template_user }}@{{ template_ip }} /bin/bash << EOF
sudo su
sed -i "s/address.*/address {{ master.ip }}/g" /etc/network/interfaces
sed -i "s/netmask.*/netmask {{ netmask }}/g" /etc/network/interfaces
sed -i "s/gateway.*/gateway {{ gateway }}/g" /etc/network/interfaces
echo "{{ vm_name }}-{{ cluster.name }}-{{ master.name }}" > /etc/hostname
echo "{{ master.ip }} {{ vm_name }}-{{ cluster.name }}-{{ master.name }}" >> /etc/hosts
{% for worker in cluster.worker %}
echo "{{ worker.ip }} {{ vm_name }}-{{ cluster.name }}-{{ worker.name }}" >> /etc/hosts
{% endfor %}
EOF

virsh shutdown {{ vm_name }}-{{ cluster.name }}-{{ master.name }}
sleep 60

virsh detach-interface {{ vm_name }}-{{ cluster.name }}-{{ master.name }} --type network --config
virsh attach-interface --domain {{ vm_name }}-{{ cluster.name }}-{{ master.name }} --type network --source {{ network_name }} --model virtio --config

virsh start {{ vm_name }}-{{ cluster.name }}-{{ master.name }}
{% endfor %}

{% for worker in cluster.worker %}

virt-clone -o {{ template_vm }} -n {{ vm_name }}-{{ cluster.name }}-{{ worker.name }} -f /data/vms/{{ vm_name }}-{{ cluster.name }}-{{ worker.name }}.qcow2
virsh start {{ vm_name }}-{{ cluster.name }}-{{ worker.name }}

sleep 60

ssh {{ template_user }}@{{ template_ip }} /bin/bash << EOF
sudo su
sed -i "s/address.*/address {{ worker.ip }}/g" /etc/network/interfaces
sed -i "s/netmask.*/netmask {{ netmask }}/g" /etc/network/interfaces
sed -i "s/gateway.*/gateway {{ gateway }}/g" /etc/network/interfaces
echo "{{ vm_name }}-{{ cluster.name }}-{{ worker.name }}" > /etc/hostname
echo "{{ worker.ip }} {{ vm_name }}-{{ cluster.name }}-{{ worker.name }}" >> /etc/hosts
{% for master in cluster.master %}
echo "{{ master.ip }} {{ vm_name }}-{{ cluster.name }}-{{ master.name }}" >> /etc/hosts
{% endfor %}
EOF

virsh shutdown {{ vm_name }}-{{ cluster.name }}-{{ worker.name }}
sleep 60

virsh detach-interface {{ vm_name }}-{{ cluster.name }}-{{ worker.name }} --type network --config
virsh attach-interface --domain {{ vm_name }}-{{ cluster.name }}-{{ worker.name }} --type network --source {{ network_name }} --model virtio --config

virsh start {{ vm_name }}-{{ cluster.name }}-{{ worker.name }}
{% endfor %}

{% endfor %}
