virt-clone -o {{ template_vm }} -n {{ vm_name }}-{{ kubernetes.management.name }} -f /data/vms/{{ vm_name }}-{{ kubernetes.management.name }}.qcow2
virsh start {{ vm_name }}-{{ kubernetes.management.name }}

sleep 60

ssh {{ template_user }}@{{ template_ip }} /bin/bash << EOF
sudo su
sed -i "s/address.*/address {{ kubernetes.management.ip }}/g" /etc/network/interfaces
sed -i "s/netmask.*/netmask {{ netmask }}/g" /etc/network/interfaces
sed -i "s/gateway.*/gateway {{ gateway }}/g" /etc/network/interfaces
echo "{{ vm_name }}-{{ kubernetes.management.name }}" > /etc/hostname
echo "{{ kubernetes.management.ip }} {{ vm_name }}-{{ kubernetes.management.name }}" >> /etc/hosts
{% for cluster in kubernetes.cluster %}
{% for master in cluster.master %}
echo "{{ master.ip }} {{ vm_name }}-{{ cluster.name }}-{{ master.name }}" >> /etc/hosts
{% endfor %}
{% for worker in cluster.worker %}
echo "{{ worker.ip }} {{ vm_name }}-{{ cluster.name }}-{{ worker.name }}" >> /etc/hosts
{% endfor %}
{% endfor %}
EOF

virsh shutdown {{ vm_name }}-{{ kubernetes.management.name }}
sleep 60

virsh detach-interface {{ vm_name }}-{{ kubernetes.management.name }} --type network --config
virsh attach-interface --domain {{ vm_name }}-{{ kubernetes.management.name }} --type network --source {{ network_name }} --model virtio --config

virsh start {{ vm_name }}-{{ kubernetes.management.name }}
