---
{% for cluster in kubernetes.cluster %}
{% if cluster.install_network and cluster.network.type == "calico" %}

- name: Init Kubernetes cluster {{ vm_name }}-{{ cluster.name }}-{{ cluster.master[0].name }}
  shell: |
    kubectl create -f https://docs.projectcalico.org/v3.3/getting-started/kubernetes/installation/hosted/rbac-kdd.yaml
    kubectl create -f https://docs.projectcalico.org/v3.3/getting-started/kubernetes/installation/hosted/kubernetes-datastore/calico-networking/1.7/calico.yaml
  when: ansible_hostname == '{{ vm_name }}-{{ cluster.name }}-{{ cluster.master[0].name }}'

{% endif %}
{% endfor %}