---
- name: create script directory
  file:
    path: ~/script/kubeconfig
    state: directory

- name: copy kubeconfig from all master into deployer
  shell: |
    {% for cluster in kubernetes.cluster %}
    scp -o StrictHostKeyChecking=no {{ cluster.master[0].ip }}:~/.kube/config  ~/script/kubeconfig/{{ cluster.name }}
    {% endfor %}

- name: copy kubeconfig from all deployer to management
  shell: |
    {% for cluster in kubernetes.cluster %}
    scp -o StrictHostKeyChecking=no ~/script/kubeconfig/{{ cluster.name }} {{ kubernetes.management.ip }}:~/
    {% endfor %}
